@import "tailwindcss";

:root {
  --background: #40464c;  /* A light neutral background */
  --foreground: rgb(181, 183, 187);  /* A dark slate for text */
  --primary: #0ea5e9;     /* A vibrant cyan/sky color */
  --secondary: #7dd3fc;  /* Lighter cyan for accents */
  --accent: #0369a1;  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #c3f0f9, #a8d8ea, #9ec1cf, #b1bace);
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.5s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark Mode */
 @media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
} 


